html {
	font-family: "Reenie Beanie", Serif;
	background-color: rgb(102, 102, 102);
}

li {
    list-style-type: none;
	height: 200px;
	width: 27%;
	float: left;
	margin: 35px 20px;
	padding: 4px;
	text-align: center;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

h2 {
	font-size: 48px;
}

p {
	font-size: 20px;
}

.yellow-box {
	background-color: rgb(254, 255, 209);
}

.green-box {
	background-color: rgb(201, 255, 208);
}

.purple-box {
	background-color: rgb(205, 204, 251);
}

.left-rotated {
	transform: rotate(-10deg);
}

.right-rotated {
	transform: rotate(10deg);
}